/***************************************************
	       http://infrasoft.com.ar
***************************************************
Autor: Ariel Marcelo Diaz
Desarrollo: Infrasoft Servicios Informaticos
sitio web: http://infrasoft.com.ar
***************************************************/

body
{
	background-image: url("../img/fondo.png");
}

h1
{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
}

h2
{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;	
}

p
{
    text-indent: 15px;
}
form
{
	max-width: 95%;
	padding: 7px;
	margin: 7px;
}

input
{
  max-width: 95%;  
  padding:7px;
  margin:7px;
}

select
  max-width: 95%;  
  padding:5px;
  margin:5px;
}

label
{
    margin: 7px;
    padding: 7px;
}



.form-group
{
    padding: 7px;
    margin: 7px;
}

.img-rounded
{
	max-width: 100%;
	height: auto;
}
